/* modify the header text ã€ the background color  */
.ant-table-thead > tr >th{
    color: white;
    background: #001529 !important;
}

.ant-table-title{
    color: white;
    background: #001529 !important;
    text-align: left;
}

.ant-spin-container{
    height: 400px;
}